{% extends 'base.html' %}

{% block title%}Department Page {% endblock %}

{% block content %}

<h1>Department Page</h1>

<a href="{{ url_for('adddept') }}">Add Department</a>
<br><br>

<table border='2'>
	{% if data %}
	<tr>
		<th>Dept Id</th>
		<th>Department Name</th>
		<th>Action</th>

	</tr>
	{% for d in data %}
	<tr>
		<td>{{ d.deptid }}</td>
		<td>{{ d.deptname }}</td>
		<td><a href="{{ url_for('deletedept', id =d.deptid ) }}" onclick="return confirm('Are you Sure??')"
				style="text-decoration:none; color:black;">Delete</a></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td>No data found</td>
	</tr>
	{% endif %}
</table>
{% endblock %}